html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    background-color: white;
}
header div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div img {
    width: 80px;
    margin-left: 20px;
}
header div h1 {
    margin-left: 250px;
    align-items: center;
}
header div nav a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
header div nav:last-child {
    margin-right: 20px;
}
header div nav a:hover {
    background-color: black;
    opacity: 10%;
    border-radius: 5px;
    color: white;
}
section {
    margin: auto;
    width: 80%;
    height: 500px;
    margin-bottom: 50px;
    border-radius: 20px;
}

section h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    color: white;
}
.secao-paragrafo {
    display: flex;
    position: relative;
    margin: 70px auto;
    width: 70%;
}
.secao-paragrafo img {
    width: 200px;
    height: 200px;
}
.secao-paragrafo p {
    position: absolute;
    width: 65%;
    left: 300px;
    top: -60px;
}
p {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    border-radius: 20px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    box-shadow: 40px 10px 40px 10px;
}
p::first-letter {
    font-size: 32px;
}
section:nth-of-type(even){
    background-color: #fd9797;
}
section:nth-of-type(odd){
    background-color: #880808;
}
